[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/ag.vim"]
	path = bundle/ag.vim
	url = git@github.com:rking/ag.vim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = git@github.com:tpope/vim-endwise.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/flattown"]
	path = bundle/flattown
	url = git@github.com:blerins/flattown.git
[submodule "bundle/vim-cpp-enhanced-highlight"]
	path = bundle/vim-cpp-enhanced-highlight
	url = git@github.com:octol/vim-cpp-enhanced-highlight.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "bundle/vim-jsbeautify"]
	path = bundle/vim-jsbeautify
	url = https://github.com/maksimr/vim-jsbeautify.git
[submodule "bundle/indentLine"]
	path = bundle/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule "pyflakes-pathogen"]
	path = pyflakes-pathogen
	url = https://github.com/mitechie/pyflakes-pathogen.git
